.scorebutton {
  width: 100%;
  height: 40px;
  border-radius: 17px;
  border: 2px solid #53de1c;
  color: #53de1c;
  font-size: medium;
  font-weight: bold;
  background-color: white;

  &.active {
    outline: 0;
    background-color: #53de1c;
    color: white;
    border: none;
  }

  &:active {
    outline: 0;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  background-color: transparent;
  min-height: 125px;
  width: 20%;
  margin-top: 25px;
}
